@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
  --green:#27ae60;
  --black:#1d1d30;
  --white:#fff;
  --grey: #666;
  --orange: #f1a026;
  --lightGrey: #f7f7f7;
  --brownish:  #999;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

html,body {
  display: grid;
  height: 100vh;
  width: 100vw;
  place-items: center;
  background-image: url(./img/flat-lay-assortment-vegetables-with-copy-space.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-logo {
  width: 8rem;
}

.form-title {
  font-size: 2.8rem;
}

::selection {
  background: var(--green);
  color: #fff;
}

.wrapper {
  overflow: hidden;
  max-width: 25rem;
  background: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  border:.1rem solid rgba(0,0,0,.3);
  margin-top: 2rem;
}

.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title {
  width: 50%;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .slide-controls {
  position: relative;
  display: flex;
  height: 3rem;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid var(--brownish);
  border-radius: 0.5rem;
}

.slide-controls .slide {
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  line-height: 3rem;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.slide-controls label.signup {
  color: #000;
}

.slide-controls .slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 0.5rem;  
  background: var(--green);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

input[type="radio"] {
  display: none;
}

#register:checked ~ .slider-tab {
  left: 50%;
}

#register:checked ~ label.register {
  color: #fff;
  cursor: default;
  user-select: none;
}

#register:checked ~ label.login {
  color: #000;
}

#login:checked ~ label.register {
  color: #000;
}

#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}

.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}

.form-container .form-inner {
  display: flex;
  width: 200%;
}

.form-container .form-inner form {
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.form-inner form .field {
  height: 3rem;
  width: 100%;
  margin-top: 1rem;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 1rem;
  transition: all 0.3s ease;
  background:var(--lightGrey);
}

.form-inner form .field input:focus {
  border-color: var(--green);  
}

.form-inner form .field input::placeholder {
  color: var(--brownish);
  transition: all 0.3s ease;
}

form .field input:focus::placeholder {
  color: var(--brownish);
}

.form-inner form .pass-link {
  margin-top: 15px;
  text-align: right;
}

.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: var(--green);
  text-decoration: none;
  transition: all 0.3s ease-in-out;  
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover { 
  color: var(--orange);
  transition: all 0.3s ease-in-out;  
}

.register-link {
  text-align: center;
 
}

.register-link a {
  text-decoration: none;
  color: var(--green);
  transition: all 0.3s ease-in-out;  
}

.register-link a:hover { 
  color: var(--orange);
  transition: all 0.3s ease-in-out;  
}

form .btn {
  height: 50px;
  width: 100%;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

form .btn .btn-layer {
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background: var(--green);
  border-radius: 0.5rem;
  transition: all 0.4s ease;;  
}

form .btn:hover .btn-layer {
  left: 0; 
}

.field {
  margin-bottom: 1rem;
  padding: 0%;
}

.login-btn {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;    
  background-color: var(--green);   
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease;;   
}

.login-btn:hover {
  background-color: var(--black);
  transition: all 0.4s ease;;
}

.register-btn {
  height: 100%;
  width: 100%;
  z-index: 1;
  position: relative;
  background-color: var(--green);   
  border: none;
  color: #fff;
  padding-left: 0;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease;
}

.register-btn:hover {
  background-color: var(--black);
  transition: all 0.4s ease;
}

.rememberme {
  margin-top: 1rem;
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social-icons a {
  font-size: 3.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: var(--green);
  transition: all 0.4s ease;
}

.social-icons a:hover {
  color: var(--black);
  transition: all 0.4s ease;
}

.icons-link p {
  text-align: center;
  margin-top: 1.2rem;
  margin-bottom: 0.5rem;
}

.title a img {
  transition: all 0.4s ease;
}

.title a img:hover {  
  transform: rotate(360deg);
  transition: all 0.4s ease;
}


/* -------------
    Messages
---------------*/

.rounded {
  width: 2rem;
}














/* ----------------
    Media Queries
------------------*/

/* Pantallas extra grandes (desktops de mas de 1400px) */
@media (max-width: 1440px) { 

  .login-logo {
    width: 5rem;
    margin-bottom: 0.2rem;
  }
      
  .form-title {
    font-size: 1.7rem;
    margin-top: 0.2rem;
  }     

  .wrapper {
    width: 25%;
    padding: 1.5rem;
  }
    
  .wrapper .title {      
    font-size: 1rem;       
  }
      
  .wrapper .slide-controls {       
    height: 2rem;        
  }
      
  .slide-controls .slide {
    font-size: 0.8rem;        
    line-height: 2rem;        
  }           
       
  .form-inner form .field {
    height: 2rem;       
    margin-top: 1rem;
  }
      
  .form-inner form .field input {    
    border-bottom-width: 2px;
    font-size: 1rem;     
  }       
    
  .form-inner form .pass-link {
    margin-top: 15px;      
  }
      
  .form-inner form .signup-link {       
    margin-top: 30px;
  }
            
  form .btn {
    height: 50px;       
    border-radius: 0.5rem;      
  }    
      
  .field {
    margin-bottom: 1rem;        
  }
      
  .login-btn {        
    border-radius: 0.5rem;
    font-size: 1rem;        
  }          
      
  .register-btn {       
    border-radius: 0.5rem;
    font-size: 1rem;       
  }    
      
  .rememberme {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }    
      
  .pass-link a {
    font-size: 0.8rem;
  }

  .social-icons a {
    font-size: 2.2rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;        
  }      
  
  .icons-link p {    
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
  }

  .register-link {
    font-size: 0.8rem;
  }

  .register-link a {
    font-size: 0.8rem;
  }    
  
}


/* Pantallas grandes (desktops de menos de 1200px) */
@media (max-width: 1200px) { 

  body {
      max-height: 100vh;
      max-width: 100vw;
      overflow: hidden;  
    } 
    
  .login-logo {
    width: 5rem;
    margin-bottom: 0.2rem;
  }
  
  .form-title {
    font-size: 1.7rem;
    margin-top: 0.2rem;
  }     

  .wrapper {
    width: 35%;
    padding: 1.5rem;
  }

  .wrapper .title {      
    font-size: 1rem;       
  }
  
  .wrapper .slide-controls {       
    height: 2rem;        
  }
  
  .slide-controls .slide {
    font-size: 0.8rem;        
    line-height: 2rem;        
  }           
   
  .form-inner form .field {
    height: 2rem;       
    margin-top: 1rem;
  }
  
  .form-inner form .field input {    
    border-bottom-width: 2px;
    font-size: 1rem;     
  }       

  .form-inner form .pass-link {
    margin-top: 15px;      
  }
  
  .form-inner form .signup-link {       
    margin-top: 30px;
  }
        
  form .btn {
    height: 50px;       
    border-radius: 0.5rem;      
  }    
  
  .field {
    margin-bottom: 1rem;        
  }
  
  .login-btn {        
    border-radius: 0.5rem;
    font-size: 1rem;        
  }          
  
  .register-btn {       
    border-radius: 0.5rem;
    font-size: 1rem;       
  }    
  
  .rememberme {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }    
  
  .pass-link a {
    font-size: 0.8rem;
  }

  .social-icons a {
    font-size: 2.2rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;        
  }      

  .icons-link p {    
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
  }

  .register-link {
    font-size: 0.8rem;
  }

  .register-link a {
    font-size: 0.8rem;
  }
}

/* Pantallas medianas (tablets de menos de 992px) */
@media (max-width: 992px) { 

} 

/* Pantallas peque침as (m칩viles en landscape de menos de 768px) */
@media (max-width: 768px) { 
  html {
    height: 100%;
  }

  body {
    height: 100%;   
    overflow: hidden;  
  }  
    
  .login-logo {
    width: 5rem;
    margin-bottom: 0.2rem;
  }
  
  .form-title {
    font-size: 1.7rem;
    margin-top: 0.2rem;
  }     

  .wrapper {
    width: 45%;
    padding: 1.2rem;
  }

  .wrapper .title {      
    font-size: 1rem;       
  }
  
  .wrapper .slide-controls {       
    height: 2rem;        
  }
  
  .slide-controls .slide {
    font-size: 0.8rem;        
    line-height: 2rem;        
  }           
   
  .form-inner form .field {
    height: 2rem;       
    margin-top: 1rem;
  }
  
  .form-inner form .field input {    
    border-bottom-width: 2px;
    font-size: 1rem;     
  }       

  .form-inner form .pass-link {
    margin-top: 15px;      
  }
  
  .form-inner form .signup-link {       
    margin-top: 30px;
  }
        
  form .btn {
    height: 50px;       
    border-radius: 0.5rem;      
  }    
  
  .field {
    margin-bottom: 1rem;        
  }
  
  .login-btn {        
    border-radius: 0.5rem;
    font-size: 1rem;        
  }          
  
  .register-btn {       
    border-radius: 0.5rem;
    font-size: 1rem;       
  }    
  
  .rememberme {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }    
  
  .pass-link a {
    font-size: 0.8rem;
  }

  .social-icons a {
    font-size: 2.2rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;        
  }      

  .icons-link p {    
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
  }

  .register-link {
    font-size: 0.8rem;
  }

  .register-link a {
    font-size: 0.8rem;
  }
}

/* Pantallas muy peque침as (m칩viles en portrait de menos de 576px) */
@media (max-width: 576px) { 
  html {
    height: 100%;
  }

  body {
    height: 100%;   
    overflow: hidden;  
  }  
    
  .login-logo {
    width: 5rem;
    margin-bottom: 0.2rem;
  }
  
  .form-title {
    font-size: 1.7rem;
    margin-top: 0.2rem;
  }     

  .wrapper {
    width: 80%;
    padding: 1.2rem;
  }

  .wrapper .title {      
    font-size: 1rem;       
  }
  
  .wrapper .slide-controls {       
    height: 2rem;        
  }
  
  .slide-controls .slide {
    font-size: 0.8rem;        
    line-height: 2rem;        
  }           
   
  .form-inner form .field {
    height: 2rem;       
    margin-top: 1rem;
  }
  
  .form-inner form .field input {    
    border-bottom-width: 2px;
    font-size: 1rem;     
  }       

  .form-inner form .pass-link {
    margin-top: 15px;      
  }
  
  .form-inner form .signup-link {       
    margin-top: 30px;
  }
        
  form .btn {
    height: 50px;       
    border-radius: 0.5rem;      
  }    
  
  .field {
    margin-bottom: 1rem;        
  }
  
  .login-btn {        
    border-radius: 0.5rem;
    font-size: 1rem;        
  }          
  
  .register-btn {       
    border-radius: 0.5rem;
    font-size: 1rem;       
  }    
  
  .rememberme {
    margin-top: 0.5rem;
    font-size: 0.8rem;
  }    
  
  .pass-link a {
    font-size: 0.8rem;
  }

  .social-icons a {
    font-size: 2.2rem;
    padding: 0.5rem;
    margin-bottom: 0.2rem;        
  }      

  .icons-link p {    
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: 0.8rem;
  }

  .register-link {
    font-size: 0.8rem;
  }

  .register-link a {
    font-size: 0.8rem;
  }
}
